@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url('../img/noaa-WHLI73X8tE0-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Aleo', sans-serif;
    background-color: #f0f0f0; 
    overflow: hidden;
    height: 100vh;
}

.container{
    padding: 20px 70px;
    color: #f0f0f0ff;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info .values{
    background: rgba(46, 45, 45, 0.7);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 0;
    border: 1px solid #f0f0f0;
}

.info .values .weather-item{
    display: flex;
    justify-content: space-between;
}

.date-container{
    font-weight: 100;
}

.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px; 
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.country-zone{
    text-align: end;
}

.country-zone .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.country-zone .country{
    font-size: 13px;
    font-weight: 700;
}

.forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    background: rgba(0,0,0,0.3);

}

.forecast .today .day{
    padding: 5px 15px;
    background: #35353f;
    border-radius: 50px;
    text-align: center;
}

.forecast .today .temp{
    font-size: 17px;
    padding-top: 15px;
}

.forecast .other-forecast{
    display: flex;
}

.forecast .other-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3)
}

.forecast .other-forecast-item .day{
    padding: 5px 15px;
    background: #35353f;
    border-radius: 50px;
    text-align: center;
}

.other-forecast .other-forecast-item .temp{
    font-weight: 100;
    font-size: 13px;
}


@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .country-zone{
        text-align: end;
        margin-top: 15px;
    }

    .country-zone .time-zone{
        font-size: 20px;
    }

    .info .values{
        padding: 12px;
    }

    .info .values .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }

}